@import "variables";

.b-benefits {
    padding: 48px 14px 81px;
    background: $darkestColor;
    margin-top: 96.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
        margin-top: 78px;
    }
    @media (min-width: 1600px) {
        flex-direction: row;
        justify-content: center;
        gap: 43px;
        padding-top: 120px;
    }
    &__icon {
        max-width: 347px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $footerLightColor;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 37.75px;
        }
        @media (min-width: 768px) {
            &:not(:last-child) {
                margin-bottom: 41.3px;
            }
        }
        @media (min-width: 1600px) {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
    &__heading {
        padding: 25px 0 15px;
        font-weight: 400;
        font-size: 20px;
        color: inherit;
    }
    &__description {
        font-size: 14px;
        font-weight: 300;
        color: inherit;
    }
    &__imageDiscount {
        height: 33px;
    }

}