@import "variables";
.b-buttonWrapper {
  padding: 0 8px;
  display: flex;
  justify-content: center;
}
.b-button {
  background: $bodyColor;
  font-size: 16px;
  width: 211px;
  height: 47px;
  color: $pinkColor;
  border: 1px solid $pinkColor;
  @media (min-width: 1600px) {
    background: $pinkColor;
    color: white;
  }
  &:hover {
    background: transparentize($pinkColor, 0.5);
    color: #fff;
    box-shadow: 1px 1px 15px#ccc;
  }
}
