@import "variables";

.b-mainNav {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 8px;
  @media (min-width: 768px) {
    padding: 24px 16px;
  }
  @media (min-width: 1600px) {
    padding: 51px 16px;
  }

  &__itemList {
    display: flex;
    align-items: center;
    gap: 22px;
    @media (min-width: 768px) {
      gap: 28px;
    }
    @media (min-width: 1600px) {
      margin-right: 455px;
    }
  }

  &__item {
    list-style-type: none;
    font-size: 12px;
    line-height: 17px;
    color: #6f6e6e;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 13px;
    }
  }

  &__filter {
    position: relative;
    &:hover .b-mainNav__filterWrapper_invisible {
      display: block;
    }
  }

  &__filterWrapper {
    display: flex;
    align-items: center;

    &_invisible {
      background: #fff;
      width: 360px;
      height: 544px;
      padding: 13px 16px;
      box-sizing: border-box;
      box-shadow: 1px 1px 15px #000;
      position: absolute;
      top: 0;
      z-index: 10;
      display: none;
    }
  }
  &__filterCategory {
    list-style-type: none;
    &:not(:nth-child(2)) {
      margin-top: 16px;
    }
  }
  &__filterHeading {
    font-size: 14px;
    color: #ef5b70;
    text-transform: uppercase;
    padding: 11px;
    border-left: 5px solid $pinkColor;
    border-bottom: 1px solid #ebebeb;
  }
  &__filterItemsList {
    padding: 24px 17px;
  }
  &__filterItem {
    list-style-type: none;
    font-size: 14px;
    color: #6f6e6e;
    &:not(:last-child) {
      padding-bottom: 11px;
    }
    &:hover {
      color: $pinkColor;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__icon {
    @media (min-width: 768px) {
      width: 15px;
      height: 10px;
      margin-left: 11px;
    }
  }

  &__itemArrow {
    padding-left: 8px;
  }

  &__submenu {
    position: relative;
    &:hover .b-mainNav__dropdownSize {
      display: block;
      box-shadow: 1px 1px 15px #000;
    }
  }

  &__dropdownSize {
    display: none;
    background: #fff;
    width: 79px;
    height: 111px;
    padding: 9.5px;
    position: absolute;
    left: -10px;
    z-index: 10;
    box-sizing: border-box;
  }
  &__dropdownSizeItem {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__dropdownSizeInput {
    margin-top: 2px;
    height: 12px;
    width: 12px;
  }
  &__dropDownSizeText {
    margin-left: 10px;
  }
}
