@import "variables";

.main-topWrapper {
    background: #F7F7F7;
}
.b-productImage {
    display: flex;
    justify-content: center;
    height: 624px;
    background: #F7F7F7;
    border-bottom:  1px solid #EAEAEA;
    position: relative;
    margin: 0 auto;
    width: 100%;
    
    &__image {
        margin: 85px 0;
        width: 375px;
        height: 454px;

        @media (min-width: 768px) {
            margin: 30px 150px;
            width: 466px;
            height: 565px;
        }
        @media (min-width: 1600px) {
            margin: 11px 490px;
            width: 597px;
            height: 724px;
        }

    }

    &__item {
        width: 100%;
        font-size: 27px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 46%;

    }

    &__arrow {
        padding: 12.65px 17.3px;
        background: rgba(42, 42, 42, 0.15);
        color: #000;
        display: block;

        &:nth-child(2) {
            color: $pinkColor;
        }
    }
}