@import "variables";

.b-promo {
  min-height: 363px;
  display: flex;
  position: relative;

  &:hover &__menu {
    right: 0;
  }

  @media (min-width: 1600px) {
    min-height: 765px;
  }

  &__left {
    display: none;

    &__card:hover {
      border: 5px solid black;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      width: 50%;
    }
  }

  &__brand {
    border-left: 12px solid $pinkColor;
    padding-left: 15px;
    height: 61px;
    position: relative;
    top: -1px;
    left: -1px;
    @media (min-width: 768px) {
      height: 92px;
      top: 0px;
      left: 1px;
    }
    @media (min-width: 1600px) {
      top: -45px;
      left: -137px;
    }
  }

  &__right {
    background: $mainColor;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  &__menu {
    display: none;
    width: 232px;
    padding: 37px 34px 157px;
    position: absolute;
    right: -300px;
    transition: right 1s linear 0s;
    background: #fff;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px $darkestColor;
    border: none;
    outline: none;
    @media (min-width: 1600px) {
      display: block;
    }
  }

  &__title {
    font-size: 14px;
    color: #000;
  }

  &__category {
    margin: 20px 0 12px;
    color: $pinkColor;
  }

  &__list {
    list-style-type: none;
  }

  &__listItem {
    font-size: 14px;
    padding-top: 11px;
    padding-left: 26px;
    transition-duration: 0.5s;

    &:hover {
      color: $pinkColor;
    }
  }

  &__top {
    font-family: "Lato", sans-serif;
    font-size: 38px;
    font-weight: bolder;
    line-height: 46px;
    text-transform: capitalize;
    position: relative;
    left: 1px;
    word-spacing: 2px;
    @media (min-width: 768px) {
      font-size: 44px;
      top: 3px;
    }
    @media (min-width: 1600px) {
      font-size: 48px;
      top: 6px;
    }
  }
  &__bottom {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 24px;
    position: relative;
    top: -4px;
    @media (min-width: 768px) {
      font-size: 24px;
      top: 6px;
      left: 2px;
    }
    @media (min-width: 1600px) {
      font-size: 32px;
      top: 15px;
    }
  }
  &__fashionWord {
    color: $pinkColor;
  }
}
