@import "variables";

.b-productCatalog {
    max-width: 1140px;
    margin: 0 auto;
    padding: 129px 8px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 175px;
        padding-bottom: 129px;
    }
    @media (min-width: 1600px) {
        padding-top: 129px;
        justify-content: space-between;
        padding-bottom: 106px;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__headingTop {
        font-size: 30px;
        font-weight: 400;
        color: $darkestColor;
        line-height: 36px;
    }
    &__headingBottom {
        font-size: 14px;
        color: #9F9F9F;
        line-height: 17px;
    }
    &__catalog {
        padding: 64.7px 8px 41px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 8.6px;
        @media (min-width: 768px) {
            padding: 74px 16px 20px;
            display: grid;
            grid-template: repeat(3, 579px) / repeat(2, 360px);
            row-gap: 23px;
        }
        @media (min-width: 1600px) {
            grid-template: repeat(2, 581px) / repeat(3, 360px);
            gap: 30px;   
            padding-top: 55px;
            padding-bottom: 47px;
        }
    }
    &__card {
        background: #F8F8F8;

        &:last-child {
            display: none;
            @media (min-width: 1600px) {
                display: block;
            }
        }
        }

        
    &__text {
        padding: 17.95px 23.28px 28.72px 19.95px ;
    }
    &__title {
        font-size: 13px;
        color: #000;
        line-height: 16px;
    }
    &__description {
        width: 313px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        padding: 12.62px 0 17.95px;
    }
    &__price {
        font-size: 16px;
        font-weight: 400;
        color: $pinkColor;
    }
}
