@import "variables";

.b-registration {
  height: 148px;
  background: #f8f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    justify-content: space-between;
  }
  @media (min-width: 1600px) {
    width: 1140px;
  }

  &__heading {
    color: $pinkColor;
    text-transform: uppercase;
    font-size: 24px;
    @media (min-width: 768px) {
      margin-left: 19px;
    }
  }
}
