@import "variables";

.b-topNav {
    height: 74px;
    background: $darkestColor;
    padding: 18px 16px;
    box-sizing: border-box;

    .container {
        display: flex;
        justify-content: space-between;
        @media (min-width: 1600px) {
            width: 1140px;
            margin: 0 auto;
        }
    }

    &__rightItem {
        display: flex;
    }

    &__zoom {
        margin-left: 37px;
    }
    &__menu {
        margin-top: 7px;
        width: 32px;
        height: 23px;
        @media (min-width: 768px) {
            display: block;
            margin-top: 13px;
        }
    }
    &__user {
        margin-left: 16px;
        display: none;
        @media (min-width: 768px) {
            width: 29px;
            height: 29px;
            margin-left: 25px;
            margin-top: 9px;
            display: inline;
        }
    }
    &__cartIcon {
        margin-left: 41px;
        display: none;
        @media (min-width: 768px) {
            margin-left: 64px;
            position: relative;
            display: block;
        }
    }
    &__cartImage {
        width: 32px;
        height: 29px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__cartNumber {
        color: white;
        background: $pinkColor;
        border-radius: 50%;
        display: inline-block;
        width: 19px;
        height: 19px;
        text-align: center;
    }

    @media (min-width: 768px) {
        padding: 18px 32px;
    }
}