/* Стили для index.html */

$mainColor: #F1E4E6;
$bodyColor: #E5E5E5;
$darkestColor: #222;
$pinkColor: #F16D7F;
$cardBackColor: #F8F8F8;
$footerLightColor: #FBFBFB;

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
